<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Sångboken</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Vett och etikett</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sånger <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Svenskt</a></li>
            <li><a href="#">Studentikost</a></li>
            <li><a href="#">Uppsala</a></li>
            <li><a href="#">UTN</a></li>
            <li><a href="#">Internationellt</a></li>
            <li><a href="#">Törstigt</a></li>
            <li><a href="#">Nördigt</a></li>
            <li><a href="#">Nostalgiskt</a></li>
            <li><a href="#">Romantiskt</a></li>
            <li><a href="#">Lustigt</a></li>
            <li><a href="#">Barnsligt</a></li>
            <li><a href="#">Bittert</a></li>
            <li><a href="#">Runt under fötterna</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Sök">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
